In [21]:
pip install googlemaps

Requirement already satisfied: googlemaps in c:\users\share\appdata\local\programs\python\python310\lib\site-packages (4.5.3)
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\share\appdata\local\programs\python\python310\lib\site-packages (from googlemaps) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\share\appdata\local\programs\python\python310\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\share\appdata\local\programs\python\python310\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\share\appdata\local\programs\python\python310\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\share\appdata\local\programs\python\python310\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.10)
Note: you may need to restart the kernel to use updated packages.

In [22]:
pip install prettyprint

Requirement already satisfied: prettyprint in c:\users\share\appdata\local\programs\python\python310\lib\site-packages (0.1.5)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import googlemaps
import prettyprint
import time

In [30]:
f = open('api.txt', 'r')
apikey = f.readline()
# print(apikey)
#Defining the Client
gmaps = googlemaps.Client(key = apikey)

In [25]:
#Defining our Search
import requests

url = "https://maps.googleapis.com/maps/api/place/textsearch/json?query=restaurants%20in%20Bangladesh&key=API_KEY"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

# print(response.text)

In [102]:
response_json = response.json()
# print(response_json["results"])
restaurant_data2 = response_json["results"]
# print(restaurant_data2[0].get('geometry').get('location'))

location = {}
j = 0
for i in restaurant_data2:
    location[j] = restaurant_data2[j].get('geometry').get('location')
    j=j+1
    
# print(location)

In [104]:
import json
import csv
import pandas as pd
restaurant_data = response_json["results"]
df3 = pd.DataFrame.from_dict(location, orient='index').T
# print(df3.head())
df = pd.DataFrame.from_dict(restaurant_data)
# print(df.info())

In [93]:
df5 = df3.T
print(df5.head())

         lat        lng
0  23.778819  90.380208
1  23.749809  90.368645
2  23.751722  90.377679
3  23.749739  90.368675
4  23.746263  90.371584

In [94]:
df2 = df.loc[:,['name','rating','user_ratings_total','price_level']]
df2.head()
# df2.to_csv (r'.\restaurant_data.csv', index = None, header=True)

                   name  rating  user_ratings_total  price_level
0     Zaytun Restaurant     3.9                 975          2.0
1        bbq Bangladesh     4.2                1762          2.0
2    Santoor Restaurant     4.1                1643          2.0
3  Biye Bari Restaurant     3.8                1637          2.0
4      Garlic 'n Ginger     4.3                1912          3.0

In [105]:
stack = pd.concat([df2, df5], axis=1)
print(stack.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                20 non-null     object
 1   rating              20 non-null     float64
 2   user_ratings_total  20 non-null     int64
 3   price_level         14 non-null     float64
 4   lat                 20 non-null     float64
 5   lng                 20 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.1+ KB
None

In [106]:
stack.to_csv (r'.\restaurant_data.csv', index = 0, header=True)